<div class="flex space-x-2 text-slate-500">
  <uwmh-svg-icon
    class="cursor-pointer hover:text-slate-600"
    [icon]="'info'"
    routerLink="/welcome"
  ></uwmh-svg-icon>
  <uwmh-svg-icon
    class="cursor-pointer hover:text-slate-600"
    [icon]="'map-pin'"
    routerLink="/welcome"
  ></uwmh-svg-icon>
  <uwmh-svg-icon
    class="cursor-pointer hover:text-slate-600"
    [icon]="'photo'"
    (click)="onClick('download')"
  ></uwmh-svg-icon>
  <uwmh-svg-icon
    class="cursor-pointer hover:text-slate-600"
    [icon]="'cog'"
    routerLink="/map/dashboard"
  ></uwmh-svg-icon>
  <uwmh-svg-icon
    class="cursor-pointer hover:text-slate-600"
    [icon]="'map'"
  ></uwmh-svg-icon>
</div>
