<div class="flex flex-col space-y-4">
  <!-- <uwmh-simple-select
    [label]="'Map Style'"
    [options]="mapStyles"
    [preSelectedOption]="(style$ | async) ?? ''"
    (selection)="onStyleChange($event)"
  ></uwmh-simple-select>
  <uwmh-simple-select
    [label]="'Attica Landmarks'"
    [options]="landmarks"
    [prompt]="'Select a Landmark'"
    (selection)="onLandmarkChange($event)"
  ></uwmh-simple-select> -->

  <div class="flex items-center space-x-4">
    <uwmh-checkbox
      [text]="'3D terrain'"
      [checked]="(terrain$ | async) ?? false"
      (status)="on3DTerrainStatusChange($event)"
    ></uwmh-checkbox>
    <uwmh-checkbox
      [text]="'Shadows'"
      [checked]="(shadows$ | async) ?? false"
      (status)="onShadowsChange($event)"
    ></uwmh-checkbox>
    <uwmh-checkbox
      [text]="'Follow'"
      [checked]="(follow$ | async) ?? false"
      (status)="onFollowChange($event)"
    ></uwmh-checkbox>
  </div>

  <div class="flex flex-row items-center space-x-4">
    <uwmh-map-center
      [lng]="(lng$ | async) ?? 0"
      [lat]="(lat$ | async) ?? 0"
      (center)="onMapCenterChange($event)"
    ></uwmh-map-center>
    <uwmh-integer-input
      [text]="'Pitch'"
      [max]="85"
      [min]="0"
      [value]="(pitch$ | async) ?? 0"
      (valueOut)="onPitchChange($event)"
    ></uwmh-integer-input>
    <!-- bearing widget -->
    <uwmh-map-bearing
      [value]="(bearing$ | async) ?? 0"
      (bearing)="onBearingChange($event)"
    ></uwmh-map-bearing>
    <uwmh-integer-input
      [text]="'Zoom'"
      [max]="22"
      [min]="0"
      [value]="(zoom$ | async) ?? 0"
      (valueOut)="onZoomChange($event)"
    ></uwmh-integer-input>
    <uwmh-svg-icon
      [icon]="'clipboard'"
      [cdkCopyToClipboard]="(map$ | async) ?? ''"
      class="text-slate-500 hover:text-slate-600 cursor-pointer"
    ></uwmh-svg-icon>
  </div>

  <uwmh-time-slider (newTime)="onDateTimeChange($event)"></uwmh-time-slider>
</div>
