<div class="flex flex-col space-y-4">
  <div class="text-sm font-medium text-slate-600">
    <div class="bg-slate-100 p-2 rounded-lg">
      <h1 class="font-semibold mb-2">About</h1>
      <p class="mb-2">
        The Digital Twin of the Attica region integrates innovations and pilots
        that different projects have implemented for climate adaptation. It aims
        to provide a tool to support climate adaptation efforts and improve the
        region's resilience against climate change's impacts.
      </p>
      <p class="mb-2">
        As a proof of concept, the Digital Twin of Attica will have several
        uses. It will support urban planning by simulating the impacts of
        extreme weather events and other climate change-related factors on the
        built environment and identifying the most vulnerable areas.
      </p>

      <p class="mb-2">
        As Attica is dependent on water resources, both for domestic consumption
        and agriculture, the Digital Twin will improve the efficiency of water
        usage and enhance the system's resilience against the impacts of climate
        change.
      </p>
      <p class="mb-2">
        The Digital Twin will provide flood risk assessment by simulating the
        impact of floods on particular areas, taking into account various
        factors such as rainfall, river flow, and land use. Through the Digital
        Twin, stakeholders will reduce the risk of flooding by improving
        drainage systems, increasing the elevation of buildings, and protecting
        critical infrastructures. Also, real-time monitoring of floods will
        allow stakeholders to respond quickly to emergencies and make informed
        decisions based on real-time information.
      </p>

      <div class="flex flex-row items-center">
        <div class="w-1/3"><img src="/assets/impetus-logo.svg" /></div>
        <div class="w-1/3 flex justify-center">
          <img width="150" src="/assets/eu.jpg" />
        </div>
        <div class="text-xs font-medium w-1/3">
          Proud to be supported by Europe. This project has received funding
          from the European Union’s Horizon 2020 research and innovation
          programme under grant agreement No 101037084
        </div>
      </div>
    </div>
  </div>
</div>
